.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin:20px;
    width: 250px;
    display: inline-block;
  }

  .card img{
    width: 250px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .category{
    font-size:11px;
  }
  .container {
    padding: 0px 16px;
    height: 100px;
  }

  .iconCart {
    background-image: url('../../assets/images/icons_sprite.svg');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-position: -96px 0;
  }
  
h4,p {
  margin:0;
}
.tilesRating {
    background-image: url('../../assets/images/ratings_sprite.svg');
    background-repeat: no-repeat;
    height: 24px;
    width: 71px;
    background-position: 0 -24px;
}
.informationTile{
  column-count: 2;
  column-gap:50%;
}