.viewPanel{
    margin: 20px;
    display: flex;
}

.filterPanel{
width:25%;
min-width: 225px;
}

.resultPanel{
width:75%;
/* display: inline; */
}
.fullPanel{
    width: 97%;
    display: flex;
    margin:20px;
}

